@using TP4.Helpers

@model TP4.Models.ViewModels.PizzaViewModel

<h2>Etes vous sur de vouloir supprimer cette pizza ?</h2>

@Html.Partial("Pizza/_Details", Model.Pizza)



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @Html.CustomSubmit(Model, "Supprimer")
}

